.header-container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  /* width: 100%;
  background-color: blue;
  height: 10rem; */
  /* background-color: #2b303a; */
  /* width: 100%; */
  color: #0c7c59;
}
