.navbar-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  background-color: rgb(253, 253, 253);
  height: 100%;
  z-index: 10;
  /* border-right: 1px solid grey; */
  text-align: left;
  padding-left: 2rem;
  box-shadow: grey;
}
.navbar-items ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0 !important;
}

.navbar-mask {
  z-index: 50;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vw;
  z-index: 9;
}
.navbar-hamburger {
  width: 2rem;
}
