.navbar-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  max-width: 280px;
  background-color: rgb(253, 253, 253);
  height: 100%;
  z-index: 10;
  /* border-right: 1px solid grey; */
  text-align: left;
  /* padding-left: 2rem; */
  text-align: left;
  box-shadow: grey;
  /* background-color: #2b303a; */
}

.navbar-mask {
  z-index: 50;
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vw;
  z-index: 9;
}
.navbar-hamburger {
  width: 2rem;
}
/* NAVIGATION MENU */
.navigation-menu-container ul {
  text-decoration: none !important;
  list-style: none !important;
  padding-left: 0 !important;
}
.navigation-menu-container ul li {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-decoration: none;
  color: #f8f8f8;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.75;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.6px;
  /* margin: auto auto !important; */
}
.navigation-menu-container ul :hover {
  background-color: #bac1b8;
  color: #8a85ff;
}

.nav-links {
  text-decoration: none !important;
  color: #616161;
  margin-bottom: 1rem;
  cursor: pointer;
  padding-left: 2rem;
}
.navigation-menu-heading {
  text-align: center;
  padding: 1rem;
  background-color: #2b303a;
  color: aliceblue;
  font-weight: 700;
}
.sidebar-footer {
  position: fixed;
  bottom: 0;
  background-color: #2b303a;
  width: 100%;
  height: 3.9rem;
  text-align: center;
  padding-bottom: 1rem;
}
