.footer-container {
  width: 100%;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: #0c7c59;
  padding-top: 1.5rem;
  /* background-color: #edf2f7; */
  background-color: #2b303a;
  /* margin: 0 auto; */
}
