html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.App {
  position: relative;
  height: 100%;
}
.navigation-menu ul {
  text-decoration: none !important;
  list-style: none !important;
  padding-left: 0 !important;
}
